body {
    margin: 0;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.row {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.7rem;
    margin-top: 0.5rem;
}

label {
    margin-bottom: 0.5rem;
    font-weight: 500;
}

input,
textarea,
select {
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
}

textarea {
    resize: vertical;
}

button {
    width: 100%; 
    margin-top: 1rem;
    padding: 0.8rem;
    border: none;
    border-radius: 8px;
    background-color: #FFA500;
    color: #000;
    font-weight: 600;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #FFB733;
}

/* Responsive */
@media (max-width: 480px) {
    form {
        width: 90%;
        padding: 1.5rem;
    }

    input,
    textarea,
    select,
    button {
        font-size: 0.9rem;
        padding: 8px;
    }
}

.modal-window {
    position: relative;
    padding-top: 2rem;
    width: 100%;
}

#previous {
    margin-top: -1rem;
    margin-left: -1rem; 
    position: absolute;
    top: 0.2rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem; 
    height: 1.5rem;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}


#previous img {
    width: 100%;
    height: auto;
    display: block;
}

#previous:hover {
    background: rgba(255, 255, 255, 0.2);
}

.box {
    background-color: #0E2A36;
    color: #fff;
    padding: 2.5rem 3rem;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 100%;
    max-width: 780px; 
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.18);
    margin: 0 auto; 
    transition: max-width 0.25s ease;
}

.modal-window h2 {
    text-align: center;
    margin: 0; 
    font-size: 1.2rem; 
    margin-bottom: 1rem;
}


/* Tablets */
@media (max-width: 768px) {
    .box {
        padding: 2rem;
        max-width: 400px;
    }
    
    .modal-window h2 {
        font-size: 1.5rem;
        padding: 0 0.5rem;
    }
}

@media (max-width: 480px) {
    body {
        padding: 0.8rem;
    }
    #previous {
            position: absolute;
            margin-left: -0.6rem;
            width: 2rem;
            height: 2rem;
        }
    
    .box {
        padding: 1.5rem;
        max-width: 100%;
        margin: 0.5rem;
        border-radius: 12px;
    }
    
    .modal-window h2 {
        font-size: 1.3rem;
        margin-bottom: 1rem;
        padding: 0 0.5rem;
    }
    
    input,
    textarea,
    select {
        padding: 10px;
    }
    
    button {
        padding: 0.9rem;
    }

    
}

@media (max-width: 400px) {
    .box {
        max-width: 80%;
        margin: 0.5rem;
        border-radius: 12px;
        margin-left: auto;
        margin-right: 2rem;
    }
    
    .modal-window h2 {
        font-size: 1.1rem;
        padding: 0 0.3rem;
    }
}


