<header>
    <nav id="menu">
        <div class="logo">
            <a href="/">Lumo</a>
        </div>
        <ul class="links">
            <li><a href="/">Inicio</a></li>
            <li><a href="/about/">Sobre nosotros</a></li>
            <li><a href="/contact/">Contáctanos</a></li>
        </ul>
        <div
            class="login-btn"
            id="barnav-auth-btn-container"
            style="display: flex; gap: 0.7em; align-items: center"
        >
            <div id="barnav-auth-btn"></div>
        </div>
    </nav>
</header>
<script type="module" src="/components/barnav.js"></script>
